repos:
- repo: https://github.com/jumanjihouse/pre-commit-hooks
  rev: 3.0.0
  hooks:
  - id: forbid-binary
  - id: script-must-have-extension
  - id: shellcheck

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: check-added-large-files
  - id: check-executables-have-shebangs
  - id: check-merge-conflict
  - id: check-toml
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: detect-private-key
  - id: end-of-file-fixer
  - id: fix-byte-order-marker
  - id: mixed-line-ending
  - id: trailing-whitespace
    args: [--markdown-linebreak-ext=md]

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.10
  hooks:
    # Run the linter with fixes.
    - id: ruff-check
      types_or: [python, pyi]
      args: ["--fix"]
    - id: ruff-format
      types_or: [python, pyi]

- repo: local
  hooks:
  - id: sync-issue-templates
    name: Sync GitHub issue templates
    entry: hooks/sync_issue_templates.sh
    language: script
    files: ^\.github/ISSUE_TEMPLATE/.*\.jinja$
    pass_filenames: false
    always_run: false
